[mysqld]
slow_query_log=true
slow_query_log-file=/var/log/mysql/slow-query.log
long_query_time=1.0
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

[client]
default-character-set=utf8mb4